<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <link rel="stylesheet" type="text/css" media="screen" href="css/Materialize.css" />
        <link href="css/Index/StyleTituloLogo.css" rel="stylesheet">
        <link href="css/Index/StylePageIndex.css" rel="stylesheet">
        <link href="css/CEPControl/CepControlStyle.css" rel="stylesheet">
        <link href="css/ControlReportsScreen/ControlReportsStyle.css" rel="stylesheet">
        <link href="css/ChangePassword/ChangePasswordStyle.css" rel="stylesheet">
        <link href="css/Perfil/PerfilStyle.css" rel="stylesheet">
        <link href="css/CEPEditionControl/EditionCepStyle.css" rel="stylesheet">
        <link href="css/Medias.css" rel="stylesheet">
        <title>
            Meitech
        </title>
    </head> 
        <!-- ******Carrega o conteúdo body de um arquivo externo****** -->    
        <%- body %>
        <!-- ********************************************************* --> 
    <script type="text/javascript" src="js/ClientSide_JS/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/ClientSide_JS/Configurations/Superagent.js"></script>
    <script type="text/javascript" src="ajax/ajax.js"></script>
    <script type="text/javascript" src="js/ClientSide_JS/Index/IndexFunctions.js"></script>
    <script type="text/javascript" src="js/ClientSide_JS/CEPControl/CepControlFunctions.js"></script>
    <script type="text/javascript" src="js/ClientSide_JS/ControlReports/ControlReportsScreen.js"></script>
    <script type="text/javascript" src="js/ClientSide_JS/ChangePassword/ChangePasswordFunctions.js"></script>
    <script type="text/javascript" src="js/ClientSide_JS/Perfil/PerfilFunctions.js"></script>
    <script type="text/javascript" src="js/ClientSide_JS/CEPEditionControl/EditionCepFunctions.js"></script>
    <script type="text/javascript" src="js/ClientSide_JS/CEPWarningsControl/WarningsControlFunctions.js"></script>
    <script type="text/javascript" src="js/ClientSide_JS/Configurations/KeyRulesFunctions.js"></script>
</html>