<!-- ****************************************************************************Cabeçalho da página***************************************************************************** -->

<!-- Envia o body abaixo para a pagina principal (Layout.ejs) --> 
<%- contentFor('body') %>
<body onload="PerfilOnload();">
    <div class="nav-wrapper" style="background: #0B274F;">
        <div id="loginName"><b>Olá</b></div>
        <div class="brand-logo center" style="padding: 0.5%; margin-left: 3.5%; color: whitesmoke; font-size: 130%" ><b>Meu Perfil</b>
            <div class="logoSimbolo"><b>®</b></div>
            <div class="logoMeitech" style="font-size: 100%"><b>CEP</b></div>
        </div>
    </div>
    <!-- **************************************************************************************************************************************************************************** -->

    <div class="dropup">
        <div id="dropbtn" alt="Submit"></div>
        <div class="dropup-content">
            <b style="color: #4d4f52">&nbsp&nbspPerfil</b>
            <a onclick="LoginOptions('ChangePassword');">Alterar a Senha</a>
            <b style="color: #4d4f52">&nbsp&nbsp___________________</b>
            <a onclick="LoginOptions('Logout');">Sair</a>
        </div>
    </div>

    <div id="dvPerfilBorder">
        <div id="dvPerfil"></div>
    </div>
    <div id="CancelEdit" class="CancelEdit_cs" onclick="CancelEdit();">X</div>
    <input type="text" id="ChangeLogin" maxlength="20" name="txtChangeLogin" placeholder="Login...">
    <img src="img/editIcon.png" class="imgEditIcon" onclick="ChangeLoginName();">
    <button id="ChangeLoginButton" name="btnChangeLogin" onclick="ChangeLoginBTN();">Alterar</button>

    <button id="BackPerfil" name="btnBackPerfil" onclick="BackPerfil();">Voltar</button>
</body>
<footer>
    <div class="dvRodape">
        <div class="copyright"> Copyright © 2019 CEP System - Todos os direitos reservados</div>
    </div>
</footer>